*{
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
    font-family: Istok Web;
}

.top {
    text-align: center;
    color: white;
}

header {
    background-color: #0054A4;
    margin: 0px;
}

.header-container {
    display: flex;
    align-items: center; /* Aligns the items vertically in the middle */
    gap: 20px; /* Adds space between the image and the H1 */
    flex-direction: row; /* Ensures the image and H1 are in a row */
    justify-content: space-evenly;
    padding: 3vh; /* Adds padding around the content */
    font-family: Istok Web;
    font-size: 40px;
}

.header-container img {
    width: 30vh; /* Adjust size as needed */
    height: auto;
}

.btn {
    width: 500px; ;
    height: 150px; ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    text-decoration: none;
    background-color: #0054A4;
    color: white;
    margin-top: 20px;
}

#button {
    display: flex;
    justify-content: center;
 
}

h1 {
    font-size: 50px;
    color: white;
}

h2
{
    font-size: 96px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

h3 {
    font-size: 40px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/* find a way to make the picture fit correctly within the frame*/
.main-body {
    background-image: url(Happy\ family.png);
    background-size: cover;
}

#career-select {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    background-color: #0054a4;
    color: white;
    height: 5vh;
    width: 20vw;

}

#career-select:hover {
    background-color: #003d7a;
}

#career-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}


